body {
  /* background-color: #845EC2; */
  background: linear-gradient(45deg, #845EC2 20%, #D65DB1 35%, rgba(0,212,255,1) 100%);
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
 

}

h1 {
  color: #F9F871;
}

div {
  border: 2px solid black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}
#sq0, #sq1, #sq2 {
  border-top: none;
}

#sq2, #sq5, #sq8 {
  border-right: none;
}

#sq6, #sq7, #sq8 {
  border-bottom: none;
}

#sq0, #sq3, #sq6 {
  border-left: none;
}
.controls {
  margin: 10px;
}

.display {
  margin: 20px;
}

#reset {
  background-color: #FFC75F;
  margin-top: 20px;
  border-radius: 10%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
}
